tests/test.yml
site
.vagrant
*.retry
*.log
inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs

tests/inventories/integration_testing/group_vars/nas.yml
# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/
